.form-control {
  border-radius: 0;
}

.formTitle {
  font-size: 18px;
}

.radioMarginFix {
  margin-top:6px;
}

.fontChange {
  font-size: 20px;
}

.buttonMarginFix {
  margin-top: 10px;
  margin-bottom: 20px;
}

.inputMarginFix {
  margin-top: 10px;
}

.successButton {
  margin-top: 2em;
}

.deleteLine {
  text-decoration:line-through;
}

.registerPostFix {
  margin-left: 10px;
  font-size: 21px;
  font-weight: 200;
}

.panel-heading {
  margin-right: auto;
  margin-left: auto;
  padding-left: 70px;
  padding-right: 70px;
}

.marquee {
  width: 100%;
  overflow: hidden;
  font-size: 24px;
  color: red;
  background: #fff;
}
